/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Background =================
*/

/*  Title: Pure CSS Gradient Background Animation
    Credit: Manuel Pinto
    Code: https://codepen.io/P1N2O/pen/pyBNzX */

body {
    height: 100vh;
    background: linear-gradient(225deg, #ee7752, #e73c7e, #23a6d5, #28b485);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* End of background animation */


/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    /* color: #000; */
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/*
================= Layout =================
*/

.buttons,
.button-list,
.list-one,
.list-two,
.list-three,
.list-four,
.list-five {
    display: flex;
}

.button-list {
    flex-direction: column;
}
.buttons {
    justify-content: center;
}

/*
================= Additional Styles =================
*/

/* 
---------------- header ----------------
*/

.header {
    color: white;
    text-align: center;
    margin: 2rem 0;
}

.header {
    text-shadow: .25rem .25rem .25rem rgb(0, 0, 0, .4);
}

.title {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.author {
    font-size: 1.5rem;
}


/* 
---------------- calculator ----------------
*/

/* - - - - - container - - - - - */

.container {
    background: white;
    border-radius: 1.5rem;
    height: 62rem;
    width: 40rem;
    margin: 0 auto;
    box-shadow: 1rem 1rem 1rem rgb(0, 0, 0, .1);
}

/* - - - - - screen - - - - - */

.screen {
    background: rgb(38, 38, 38);
    border-radius: 1.5rem 1.5rem 0 0;
    height: 12rem;
    width: 40rem;
    /* padding: 3rem 3rem 0 0; ADD BACK IF REMOVE THE MODEL */
    padding: 1.5rem 3rem 0 0;
    text-align: right;
    color: #fff;
}
#model {
    color: yellowgreen;
    text-align: left;
    padding-left: 3rem;
}

#computed {
    color: #c1c1c1;
    font-size: 2rem;
}

#result {
    font-size: 3.5rem;
}

/* - - - - - buttons - - - - - */

.button-list > li {
    border-top: 1px solid rgb(115, 115, 115);
}

#percent button,
#nine button,
#six button,
#three button,
#decimal button {
    border-right: 1px solid rgb(115, 115, 115);
    border-left: 1px solid rgb(115, 115, 115);
}

#clear button,
#seven button,
#four button,
#one button {
    border-right: 1px solid rgb(115, 115, 115); 
}

li button {
    height: 10rem;
    width: 10rem;
    font-size: 2.25rem;
    font-weight: 300;
    border: none;
}

#add button,
#subtract button,
#divide button,
#multiply button,
#equals button {
    background: rgb(143, 143, 143);
}

#sign button,
#percent button {
    background: rgb(184, 184, 184);
}

#zero button {
    width: 20rem;
    border-radius: 0 0 0 1.5rem;
}

#equals button {
    border-radius: 0 0 1.5rem 0;
}

#clear button {
    background: rgb(255, 62, 62);
}

#clear button:hover {
    background: rgb(169, 25, 25);
}



